parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property PhpParser\\\\Node\\\\FunctionLike\\:\\:\\$params\\.$#"
			count: 2
			path: src/Utils/UnderscoreToCamelCaseVariableNameRector.php

		-
			message: "#^Binary operation \"\\.\" between '\\$' and PhpParser\\\\Node\\\\Expr\\|string results in an error\\.$#"
			count: 1
			path: src/Utils/UnderscoreToCamelCaseVariableNameRector.php
