includes:
    - phpstan-baseline.neon

parameters:
    level: 7

    paths:
        - config
        - src
        - tests

    excludePaths:
        - */Source/*
        - */Fixture/*
        - */Fixture*/*

    checkMissingCallableSignature: true
    treatPhpDocTypesAsCertain: false
