includes:
    - phpstan-baseline.neon

parameters:
    level: 6

    paths:
        - config
        - src
        - tests

    excludePaths:
        - */Source/*
        - */Fixture/*
        - */Fixture*/*

    checkMissingCallableSignature: true
    treatPhpDocTypesAsCertain: false
    strictRules:
        allRules: false
        disallowedLooseComparison: true
        booleansInConditions: true
        disallowedConstructs: true
        matchingInheritedMethodNames: true
